@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "evenzo";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #ffffff;
  --color-base-200: #f2f2f2;
  --color-base-300: #e5e5e5;
  --color-base-content: #111111;

  --color-primary: #2ff3e0; /* Aqua Blue */
  --color-primary-content: #111111;

  --color-secondary: #f8d210; /* Bright Yellow */
  --color-secondary-content: #111111;

  --color-accent: #fa26a0; /* Pink Magenta */
  --color-accent-content: #ffffff;

  --color-neutral: #f51720; /* Strong Red */
  --color-neutral-content: #ffffff;

  --color-info: #2ff3e0;
  --color-success: #f8d210;
  --color-warning: #fa26a0;
  --color-error: #f51720;

  --color-info-content: #111111;
  --color-success-content: #111111;
  --color-warning-content: #ffffff;
  --color-error-content: #ffffff;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "evenzo-dark";
  default: false; /* Optional: set this true to be the default */
  prefersdark: true; /* Enable auto switch with system dark mode */
  color-scheme: dark;

  --color-base-100: #111111; /* Very dark background */
  --color-base-200: #1a1a1a;
  --color-base-300: #2a2a2a;
  --color-base-content: #f3f3f3;

  --color-primary: #2ff3e0; /* Aqua Blue */
  --color-primary-content: #111111;

  --color-secondary: #f8d210; /* Bright Yellow */
  --color-secondary-content: #111111;

  --color-accent: #fa26a0; /* Pink Magenta */
  --color-accent-content: #ffffff;

  --color-neutral: #f51720; /* Strong Red */
  --color-neutral-content: #ffffff;

  --color-info: #2ff3e0;
  --color-success: #f8d210;
  --color-warning: #fa26a0;
  --color-error: #f51720;

  --color-info-content: #111111;
  --color-success-content: #111111;
  --color-warning-content: #ffffff;
  --color-error-content: #ffffff;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}
